<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="BedrockServerExeLocation" value="C:\Program Files (x86)\Bedrock\BedrockServer\bedrock_server.exe"></add>
  </appSettings>
</configuration>