<settings>
  <BackupConfig>
    <BackupOn>false</BackupOn>
    <BackupIntervalMinutes>0</BackupIntervalMinutes>  <!-- 60 minutes = 1 hour, 1440 minutes = 1 day, 10080 minutes = 1 week, 0 = off -->
    <BackupIntervalCron>0 1 * * *</BackupIntervalCron>    <!-- See https://crontab.guru/ for assistance in how to write cron strings-->
  </BackupConfig>
  <ServerConfig>
    <BedrockServerExeLocation>C:\Program Files (x86)\Bedrock\BedrockServer\bedrock_server.exe</BedrockServerExeLocation>
    <WCFPortNumber>19134</WCFPortNumber>
    <BackupFolderName>BedrockServiceBackup</BackupFolderName>
    <StartupCommands>
      <CommandText>
        help 1
      </CommandText>
      <CommandText>
        help 2
      </CommandText>
    </StartupCommands>
  </ServerConfig>
</settings>
