<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <settings>
    <BackupConfig>
      <BackupOn>false</BackupOn>
      <BackupIntervalMinutes>0</BackupIntervalMinutes>
      <!-- 60 minutes = 1 hour, 1440 minutes = 1 day, 10080 minutes = 1 week -->
      <BackupIntervalCron>0 1 * * *</BackupIntervalCron>
      <!-- See https://crontab.guru/ for assistance in how to write cron strings-->
    </BackupConfig>
    <ServerConfig>
      <BedrockServerExeLocation>C:\Program Files (x86)\Bedrock\BedrockServer\bedrock_server.exe</BedrockServerExeLocation>
      <BackupFolderName>BedrockServiceBackup</BackupFolderName>
      <StartupCommands>
        <CommandText>
          help 1
        </CommandText>
        <CommandText>
          help 2
        </CommandText>
      </StartupCommands>
    </ServerConfig>
  </settings>
</configuration>