<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="settings" type="BedrockService.XmlConfigurationSection, BedrockService" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <settings>
    <ServerConfig>
      <WCFPortNumber>19134</WCFPortNumber>
    </ServerConfig>
  </settings>
</configuration>